@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font01: "Poppins", sans-serif;
  --font02: "PT Sans", sans-serif;
}

/* Banner section */
.banner {
  margin: 30px 0px;
}

.banner .banner-content-inner {
  padding: 40px 30px 45px;
  background-image: url("../assets/header-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
}

.banner .title-head {
  position: relative;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  font-family: var(--font02);
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 8px;
}

.banner .title-head img {
  position: absolute;
  top: -10px;
  margin-left: -10px;
  width: auto;
}

.banner .header-description {
  display: inline-block;
  position: relative;
  font-family: "Poppins";
  font-weight: 500;
  font-style: 18px;
  color: #fff;
  text-transform: capitalize;
}

.banner .header-description::before,
.banner .header-description::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 84px;
  height: 2px;
  background: #fff;
}

.banner .header-description::before {
  right: 102%;
}

.banner .header-description::after {
  left: 102%;
}
/* Banner section end */

/* About me section - about page */
.bio-description-mobile {
  display: none;
}

.about-me-bio .about-bio-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 65px;
  padding-top: 80px;
  border-bottom: 0.7px solid #7a7a7a;
}

.about-me-bio .bio-left {
  width: 36.48%;
}

.about-me-bio .bio-left img {
  width: 100%;
}

.about-me-bio .bio-right {
  width: 63.52%;
  padding-left: 30px;
}

.about-me-bio .bio-right .bio-description {
  font-weight: 400;
  font-size: 19px;
  line-height: 38px;
  color: #7a7a7a;
}

.about-me-bio .bio-right .my-info {
  display: flex;
  gap: 55px;
  margin-top: 40px;
}

.about-me-bio .bio-right .my-info-box .my-info-item {
  margin-bottom: 20px;
}

.about-me-bio .bio-right .my-info-box .my-info-item .info-title {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.2;
}

.about-me-bio .bio-right .my-info-box .my-info-item .info-description {
  font-size: 19px;
  line-height: 1.2;
  color: #353535;
  font-weight: 500;
  margin-left: 15px;
}

.about-me-bio .bio-right .my-info-box .my-info-item .info-description.link {
  color: #3479ff;
  text-decoration: underline;
}

.about-me-bio .bio-right .download-btn {
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: #ffcc00;
  border-radius: 12px;
  line-height: 50px;
  padding: 8px 20px;
  transition: 0.3s;
}

.about-me-bio .bio-right .download-btn:hover {
  box-shadow: 0 5px 10px rgba(255, 204, 0, 0.662);
}

.about-me-bio .bio-right .download-btn svg {
  margin-left: 12px;
}
/* About me section - about page end */

/* Timeline section - Experience and education */
.about-timeline {
  padding: 80px 0;
}

.about-timeline .timeline-content-wrapper {
  display: flex;
}

.about-timeline .timeline-item-container {
  width: 50%;
}

.about-timeline .timeline-left {
  padding-right: 25px;
}

.about-timeline .timeline-right {
  padding-left: 25px;
}

.about-timeline .timeline-item-wrapper {
  position: relative;
  padding-left: 75px;
}

.about-timeline .timeline-item-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 0;
  border-left: 2px dashed #7a7a7a;
}

.about-timeline .timeline-item-container .timeline-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  font-family: var(--font02);
  color: #353535;
  margin-bottom: 35px;
}

.about-timeline .timeline-item-wrapper .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding-top: 10px;
  height: 300px;
}

.about-timeline .timeline-item-wrapper .timeline-item .timeline-dot-wrap {
  position: absolute;
  top: 5px;
  left: -64px;
  transform: translateX(-50%);
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 2px dashed #7a7a7a;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #fff;
}

.about-timeline
  .timeline-item-wrapper
  .timeline-item
  .timeline-dot-wrap
  .timeline-dot {
  content: "";
  background: #52ab70;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.about-timeline
  .timeline-item-wrapper
  .timeline-item.red
  .timeline-dot-wrap
  .timeline-dot {
  background: #f17676;
}

.about-timeline
  .timeline-item-wrapper
  .timeline-item.yellow
  .timeline-dot-wrap
  .timeline-dot {
  background: #ffd233;
}

.about-timeline .timeline-item-wrapper .timeline-item .timeline-date {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: #7a7a7a;
}

.about-timeline .timeline-item-wrapper .timeline-item .timeline-date img {
  margin-right: 10px;
  width: auto;
}

.about-timeline .timeline-item-wrapper .timeline-item .timeline-item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #353535;
  margin: 15px 0;
}

.about-timeline
  .timeline-item-wrapper
  .timeline-item
  .timeline-item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: #7a7a7a;
}
/* Timeline section - Experience and education end */
