@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font01: "Poppins", sans-serif;
  --font02: "PT Sans", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font01);
  background: #fff;
  color: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #353535;
}

button,
select {
  outline: none;
  appearance: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font01);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
span,
i {
  display: inline-block;
}

/* Header section */
.container {
  max-width: 85rem;
  margin: 0 auto;
  padding: 0 12px;
}

header {
  height: 60px;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}

/* Menu btn */
#check {
  background-color: #000000;
  width: 20px;
  height: 20px;
  display: none;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-btn span {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.menu-btn span::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #000000;
}

.menu-btn span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000000;
  transition: 0.5s;
}

.menu-btn:hover span::after,
.meu-btn:hover span::before {
  width: 100%;
}

.logo {
  height: 23px;
}

.logo img {
  height: 100%;
}

.menu-bar {
  display: flex;
}

.menu-bar li a {
  position: relative;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #353535;
}

.menu-bar li a::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 3px;
  background: #353535;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.menu-bar li a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu-bar .active-menu a::before {
  width: 100%;
}
/* Header section end */

/* Hero section */
.hero-section {
  position: relative;
  padding-top: 100px;
}

.hero-section .hero-content {
  display: flex;
  width: 100%;
}

.hero-left,
.hero-right {
  width: 50%;
}

.title-one {
  display: flex;
  align-items: center;
}

.title-one h4 {
  font-weight: 400;
  font-size: 24px;
  color: #353535;
}

.wave-hand {
  padding-left: 10px;
  animation: wave alternate-reverse 0.8s infinite;
  display: flex;
}

@keyframes wave {
  0% {
    transform: rotate(-55deg);
  }

  100% {
    transform: rotate(-35deg);
  }
}

.title-two h1 {
  font-weight: 700;
  font-size: 64px;
  color: #353535;
  padding-top: 13px;
  padding-bottom: 25px;
  font-family: var(--font02);
  line-height: 75px;
}

.my-description p {
  font-weight: 400;
  font-size: 20px;
  color: #353535;
  padding-bottom: 45px;
  line-height: 180%;
}

.social-links {
  display: flex;
  align-items: center;
  padding-top: 45px;
}

.social-link a {
  background: #f4f3f3;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: 0.3s;
}

.social-link {
  display: flex;
  gap: 20px;
}

.social-links h4 {
  font-weight: 500;
  font-size: 20px;
  color: #353535;
  padding-right: 30px;
}

.header-btns a,
.btn-two a,
.section-contents .btn-two a {
  display: flex;
  align-items: center;
  width: 190px;
  padding: 20px 0px;
  justify-content: center;
  border-radius: 20px;
}

.header-btns a h4 {
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.header-btns {
  display: flex;
  gap: 40px;
}

.btn-icon {
  display: flex;
}

.btn-one a {
  background: #ffcc00;
  border: 1px solid #ffcc00;
  transition: 0.2s;
}

.btn-two a {
  border: 1px solid #000000;
  transition: 0.2s;
}

.btn-one h4 {
  color: #ffffff;
}

.btn-two h4 {
  color: #353535;
}

.btn-one a:hover {
  border: 1px solid #353535;
  background: #353535;
}

.btn-one a:hover h4 {
  color: #ffffff;
}

.btn-one a:hover .btn-icon svg path {
  stroke: #ffffff;
}

.btn-one a:hover .btn-icon {
  animation: up-right alternate-reverse infinite 1s;
}

@keyframes up-right {
  0% {
    transform: translateX(-5px) translateY(5px);
  }

  100% {
    transform: translateX(5px) translateY(-5px);
  }
}

.social-link a:hover i {
  color: #ffffff;
}

.social-link a i {
  color: #000000;
  transition: 0.3s;
}

.social-link a:hover {
  background: #484848;
}

.hero-left {
  padding: 82px 0px;
}

.hero-img,
.hero-right {
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  object-fit: cover;
}

.hero-right {
  position: relative;
}

.social-links-two {
  display: none;
}

.social-links-one {
  display: flex;
}

.go-down {
  border: 3px solid #686868;
  position: absolute;
  width: 25px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 25px;
}

.moving-line {
  width: 3px;
  height: 10px;
  background: #686868;
  border-radius: 60px;
  top: 15%;
  position: absolute;
  animation: up-down infinite 0.8s alternate-reverse;
}

@keyframes up-down {
  0% {
    transform: rotateY(10px);
    height: 10px;
  }

  100% {
    transform: translateY(0px);
    height: 5px;
  }
}
/* Hero section end */

/* Skills and education section - home page */
/* Styling tabs */
.ease {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tabs {
  background: #fff;
  position: relative;
  margin-bottom: 50px;
}

.tabs > input,
.tabs > span {
  width: 20%;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: 0;
}

.tabs > input {
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  z-index: 99;
}

.tabs > span {
  background: #f0f0f0;
  text-align: center;
  overflow: hidden;
}

.tabs > span i,
.tabs > span {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tabs > input:hover + span {
  background: rgba(255, 255, 255, 0.1);
}

.tabs > input:checked + span {
  background: #fff;
}

.tabs > input:checked + span,
.tabs > input:hover + span {
  color: #3498db;
}

#tab-01,
#tab-01 + span {
  left: 0;
}

#tab-02,
#tab-02 + span {
  left: 20%;
}

.tab-content {
  width: 100%;
  min-height: 340px;
  position: relative;
}

.tab-content .tab-items {
  width: 100%;
  position: absolute;
  left: 40px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.tab-content .tab-items h1 {
  margin-top: 15px;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
}

#tab-01:checked ~ .tab-content #tab-item-01 {
  left: 0 !important;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

#tab-02:checked ~ .tab-content #tab-item-02 {
  left: 0 !important;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  height: 100%;
}

#tab-01 ~ .tab-content .tab-items {
  left: 20px !important;
  transition: 0.3s;
}

#tab-01:checked ~ .tab-content .tab-items {
  position: absolute;
  left: 0;
}

.effect > input:checked + span {
  background: #fff;
}

/* Skills area content - home page */
.skills-area {
  padding: 65px 0 140px 0;
  overflow: hidden;
}

.skills-content {
  display: flex;
  width: 100%;
  gap: 160px;
}

.skills-left,
.skills-right {
  width: 50%;
}

/* Progress bar */
.progress-bar {
  width: 100%;
  height: 5px;
  background: #d9d9d9;
  border-radius: 50px;
  position: relative;
}

.progress-name h3 {
  font-weight: 600;
  font-size: 17px;
  color: #353535;
  padding-bottom: 15px;
}

.progress-boxes:not(.progress-boxes:last-child) {
  padding-bottom: 50px;
}

#tab-01 ~ .tab-content .progress {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
}

#tab-01:checked
  ~ .tab-content
  #tab-item-01
  .progress-boxes:first-child
  .progress {
  width: 85%;
  background: #f16500;
  transition: 0.2s all ease-in;
}

#tab-01:checked
  ~ .tab-content
  #tab-item-01
  .progress-boxes:nth-child(2)
  .progress {
  width: 75%;
  background: #254bdd;
  transition: 0.3s all ease-in;
}

#tab-01:checked
  ~ .tab-content
  #tab-item-01
  .progress-boxes:nth-child(3)
  .progress {
  width: 80%;
  background: #fc0;
  transition: 0.4s all ease-in;
}

#tab-01:checked
  ~ .tab-content
  #tab-item-01
  .progress-boxes:last-child
  .progress {
  width: 70%;
  background: #17a5e1;
  transition: 0.5s all ease-in;
}

.progress:after {
  content: "87%";
  position: absolute;
  top: -40px;
  font-weight: 600;
  font-size: 18px;
  right: 0;
}

.progress-boxes:first-child .progress:after,
.progress-boxes:first-child .progress-name h3 {
  content: "80%";
  color: #f16500;
}

.progress-boxes:nth-child(2) .progress:after,
.progress-boxes:nth-child(2) .progress-name h3 {
  content: "75%";
  color: #254bdd;
}

.progress-boxes:nth-child(3) .progress:after,
.progress-boxes:nth-child(3) .progress-name h3 {
  content: "80%";
  color: #fc0;
}

.progress-boxes:last-child .progress:after,
.progress-boxes:last-child .progress-name h3 {
  content: "70%";
  color: #16a5e1;
}

#tab-01 ~ .tab-content #tab-item-01 .progress-boxes .progress {
  width: 10%;
}

#tab-01,
#tab-01 + span,
#tab-02 + span {
  left: 0%;
  width: 174px;
  background: #ffffff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #353535;
}

#tab-01,
#tab-01:checked + span,
#tab-02:checked + span {
  border: 1px solid #000000;
  background: #ffffff;
}

#tab-01,
#tab-01:hover + span,
#tab-02:hover + span {
  border: 1px solid #000000;
  background: #ffffff;
}

#tab-02,
#tab-02 + span {
  left: calc(3% + 174px);
  width: 174px;
  border: 1px solid #ffffff;
}

#tab-01,
#tab-01 + span {
  border: 1px solid #ffffff;
}

#tab-item-01,
#tab-item-02 {
  padding-top: 100px;
}

.education-date h4 {
  font-size: 16px;
  font-weight: 600;
  color: #353535;
}

.education-degree h4 {
  font-size: 18px;
  font-weight: 400;
  color: #353535;
}

.course-name h2 {
  font-size: 20px;
  font-weight: 600;
  color: #353535;
}

.education-degree {
  padding: 10px 0px 30px 0px;
}

.course-name:after {
  width: 30px;
  height: 1px;
  content: "";
  position: absolute;
  background: #353535;
  top: -10px;
  border-radius: 2px;
}

.course-name {
  position: relative;
}

.skills-education {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 50px 20px;
}

.skills-area .my-description p {
  padding-bottom: 0;
  font-weight: 400;
  font-size: 17px;
  color: #7a7a7a;
  line-height: 36px;
}

.skills-area .my-description p:nth-child(1) {
  padding-bottom: 35px;
}

.skills-area .my-description {
  padding-top: 50px;
  padding-bottom: 40px;
}

.skills-area .section-contents .btn-two a {
  gap: 10px;
  background: #ffcc00;
  border: 1px solid #ffcc00;
}

.section-contents .btn-two a .btn-icon svg path,
.section-contents .btn-two a h4 {
  stroke: #ffffff;
}

.skills-area .section-contents .btn-two a h4,
.section-contents .btn-two a h4 {
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
}

.skills-area .section-contents .btn-two a:hover {
  background: #353535;
  border: 1px solid #353535;
}
/* Skills and education section home page end */

/* About me section - home page */
.about-me-area {
  display: flex;
  position: relative;
  background: linear-gradient(95.13deg, #ffcc00 -21.46%, #fff5cb 112.13%);
}

.section-contents {
  margin: 30px 0px;
}

.about-me-content {
  display: flex;
  width: 100%;
  gap: 40px;
}

.about-me-left,
.about-me-right {
  width: 50%;
}

.about-image {
  display: flex;
}

.about-me-right .my-description p {
  padding-bottom: 50px;
  padding-top: 35px;
  line-height: 36px !important;
}

.section-title h2 {
  font-weight: 700;
  font-size: 50px;
  color: #353535;
  line-height: 100%;
  font-family: var(--font02);
}

.about-me-area .section-contents .btn-two a h4 {
  color: #353535;
}

.about-me-right .btn-two a:hover h4 {
  color: #ffffff;
}

.about-me-right .btn-two a:hover {
  background: #353535;
}

.about-me-right {
  display: flex;
  align-items: center;
}

.bubble {
  width: 210px;
  height: 210px;
  position: absolute;
  bottom: 0;
  right: 30px;
  overflow: hidden;
}

.bubble span {
  background: linear-gradient(
    180deg,
    #52ab70 0%,
    rgba(82, 171, 112, 0.48) 100%
  );
  height: 100%;
  width: 100%;
  border-radius: 100%;
  position: absolute;
  bottom: -105px;
}

.about-me-left {
  position: relative;
}

.animation img {
  width: 100%;
  object-fit: none;
}

.animation {
  position: absolute;
  bottom: 0;
  z-index: 0;
}

.about-animation01 {
  top: 20%;
  left: 12%;
}

.about-image img {
  z-index: 99;
}

.about-animation01 img {
  animation: rotate-round infinite 1s;
}

@keyframes rotate-round {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.about-animation02 {
  bottom: 20%;
}

.about-animation02 img {
  animation: enlarge alternate-reverse infinite 1s;
}

@keyframes enlarge {
  0% {
    transform: scale3d(0);
  }

  100% {
    transform: scale3d(1.5, 1.5, 1.5);
  }
}
/* About me section home page end */

/* Static content and areas to excel static content section */
.static,
.services {
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  padding: 100px 0px;
}

.static-card,
.service-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  justify-content: center;
  transition: all 0.3s ease;
}

.card-body,
.serviceCard-body {
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgb(0 0 0 / 8%);
  border-radius: 20px;
  padding: 60px 30px;
  transition: 0.5s ease;
}

.cards-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-icon img {
  width: auto;
  transform: rotateY(0deg);
  transition: all 1s cubic-bezier(0.77, 0, 0.18, 1);
}

.serviceCard-body:hover > .cards-icon img,
.card-body:hover > .cards-icon img {
  transform: rotateY(360deg);
}

.cards-text h2 {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  margin: 20px 0px;
  color: #353535;
}

.cards-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #7a7a7a;
}

.services {
  background: #fff7d5;
  flex-direction: column !important;
}

.service-card {
  gap: 25px;
  padding: 0 55px;
}

.titles {
  text-align: center;
  width: 50%;
  margin-bottom: 80px;
}

.titles h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: #353535;
  font-family: var(--font02);
}

.titles p {
  margin-top: 15px;
  color: #7a7a7a;
}

.serviceCard-body:nth-child(2) {
  padding: 80px 30px !important;
  margin-top: -20px;
  background: #ffcc00;
}
/* Static content and areas to excel static content section end */

/* Work experience section - home page */
.experience-area {
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s ease;
  padding: 80px 0px 60px 0px;
  background: #fbfbfb;
}

.experience-timeline {
  display: flex;
  width: 100%;
  gap: 60px;
}

.experience-right,
.experience-left {
  width: 45%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-title h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  text-align: center;
  color: #353535;
  padding-bottom: 100px;
}

.experience-title h3 {
  width: 80%;
  font-weight: 600;
  font-size: 24px;
  color: #353535;
  line-height: 180%;
}

.experience-date h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  color: #7a7a7a;
}

.experience-description p {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 35px;
  line-height: 200.5%;
  color: #7a7a7a;
}

.timelines {
  width: 0px;
  height: 100%;
  border-left: 2px dashed #7a7a7a;
  position: absolute;
  left: -30px;
}

.experience-timeline-box:last-child .experience-description p {
  padding: 0;
}

.experience-timeline-box {
  position: relative;
}

.timeline-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 100%;
  border: 2px dashed #7a7a7a;
  background: #ffffff;
  left: -21px;
  top: -2px;
}

.experience-timeline-box:hover .timeline-circle {
  animation: spin linear infinite 2s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.experience-timeline-box:last-child .timelines:after {
  content: "";
  position: absolute;
  left: -2.5px;
  bottom: 0px;
  height: 36px;
  width: 2px;
  background: #ffffff;
}

.timeline-circle:before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  border-radius: 100%;
}

.experience-timeline-box:first-child .timeline-circle:before {
  background: #52ab70;
}

.experience-timeline-box:nth-child(2) .timeline-circle:before {
  background: #f17676;
}

.experience-timeline-box:last-child .timeline-circle:before {
  background: #ffd233;
}
/* Work experience section - home page end */

/* Blog section - home page */
.blog-sec {
  width: 100%;
  padding: 65px 0px;
  transition: all 0.3s ease;
}

.blog-sec-header {
  text-align: center;
  margin-top: 0px;
  padding: 0px;
}

.blog-sec-header h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: var(--font02);
}

.blog-sec-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin: 45px 0;
  padding: 20px 0;
}

.blog-sec-content .blog-sec-card {
  padding: 0;
  margin: 0;
}

.blog-sec-content .blog-sec-card a {
  display: flex;
}

.blog-sec-card a .blog-sec-details {
  padding-left: 30px;
  width: 68%;
}

.blog-sec-details .top-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.top-details .date-details {
  color: #7a7a7a;
}

.top-details .date-details i {
  font-size: 17px;
  margin-right: 10px;
}

.publisher-name {
  color: #353535;
}

.blog-sec-details h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  padding-top: 20px;
  color: #353535;
}

.blog-sec-details .read-more {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin-top: 70px;
  color: #353535;
}

.blog-sec-details .read-more::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #353535;
  height: 1px;
  width: 0%;
  transition: all 0.2s ease;
}

.blog-sec-card a:hover > .blog-sec-details .read-more:before {
  width: 40%;
}

.blog-sec-details .read-more i {
  margin-left: 6px;
  rotate: 45deg;
  transition: all 0.3s ease;
}

.blog-sec-card a:hover > .blog-sec-details .read-more i {
  transform: translateY(-5px);
}

.blog-sec-img {
  width: 58%;
  height: 291.27px;
  border-radius: 20px;
  overflow: hidden;
  min-height: 100%;
}

.blog-sec-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
/* Blog section - home page end */

/* Newsletter section - home page - static content */
.newsletter-section {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 65px 0px 120px 0px;
  transition: all 0.3s ease;
}

.newsletter-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(95.13deg, #ffcc00 -21.46%, #fff5cb 112.13%);
  border-radius: 30px;
  overflow: hidden;
  padding: 60px 50px;
}

.left.news-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newsletter-box .news-header h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #353535;
}

.newsletter-box .news-header h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  color: #353535;
}

.newsletter-box .news-header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #353535;
}

.newsletter-box .input-message .input-box {
  display: flex;
  justify-content: space-between;
  width: 455px;
  height: 70px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
}

.input-message .input-box #home-email {
  width: 70%;
  padding: 0px 25px;
  font-size: 17px;
  border: none !important;
  outline: none;
}

.input-message .input-box #submit {
  padding: 1px 30px;
  background: #ff6565;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  border: none !important;
  outline: none;
}
/* Newsletter section - home page - static content end */

/* Footer section */
.footer {
  width: 100%;
  background: #575757;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 90px 0px;
}

.footer-logo {
  height: 40px;
  margin-bottom: 80px;
}

.footer-logo img {
  height: 100%;
}

.footer-info {
  width: 400px;
}

.footer-info h1 {
  font-size: 36px;
  color: #ffffff;
  line-height: 60px;
}

.footer-info p {
  font-size: 16px;
  color: #bbb9b9;
  text-align: left;
  line-height: 30px;
}

.footer-btn a {
  margin-bottom: 50px;
  border: none;
  background-color: #ffcc00;
  padding: 20px 40px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  user-select: none;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}

.footer-btn a:hover {
  background: #353535;
}

.footer-btn a i {
  margin-left: 8px;
}

.contact-info {
  padding: 0px 0px 86px 0px;
}

.footer-email {
  width: 184px;
}

.footer-phone h4,
.footer-email h4,
.footer-follow-btns h3 {
  font-size: 18px;
  font-weight: 400;
  color: #bbb9b9;
  line-height: 35px;
}

.footer-follow-btns h3 {
  color: #fff;
}

.footer-phone p,
.footer-email p {
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.footer-follow-btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-follow-btns span {
  display: flex;
  gap: 20px;
}

.footer-follow-btns span a {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background: #484848;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.footer-follow-btns span a:hover {
  background: #fff;
  color: #353535;
}

.footer-shapes .shape-01 {
  display: flex;
  position: absolute;
  top: 40%;
  left: 4%;
  transform-origin: center;
  z-index: -1;
  animation: rotate 6s infinite linear;
}

.footer-shapes .shape-02 {
  display: flex;
  position: absolute;
  top: 58%;
  right: 2%;
  width: 22px;
  height: 22px;
  transform-origin: center;
  z-index: -1;
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer-shapes .shape-03 {
  position: absolute;
  top: 58%;
  right: 99%;
  width: 18px;
  z-index: -1;
  height: 18px;
}

.footer-shapes .shape-03 img {
  width: auto;
}
/* Footer section end*/

/* Projects section - home page */
.projects-sec {
  width: 100%;
  padding: 65px 0;
  background: #fbfbfb;
  overflow: hidden;
}

.projects-heading {
  padding: 0px 0px 30px 0px;
  text-align: center;
}

.projects-heading h2 {
  font-size: 50px;
  font-family: var(--font02);
}

.projects-heading p {
  font-weight: 400;
  font-size: 18px;
  padding: 15px 0;
  width: 60%;
  line-height: 30px;
  color: #7a7a7a;
}

.projects-content {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.project-information {
  width: 100%;
}

.project-information .project-comment p {
  padding: 30px 0;
  font-size: 20px;
  font-weight: 400;
  color: #7a7a7a;
  line-height: 40px;
}

.project-information .projects {
  display: flex;
}

/* Slideshow */
.project {
  position: relative;
  display: block;
  z-index: 10;
  width: 100%;
}

.scroll-down {
  position: absolute;
  display: block;
  top: 3px;
  left: 0;
  width: 57%;
  right: 0;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.scroll-down .project-img-down {
  width: 315px;
  object-fit: cover;
  border-radius: 8px;
  object-position: top;
  height: 210px;
  overflow: hidden;
  transition: 5s all ease;
}

.mac-book {
  display: block;
  width: 82%;
  overflow: hidden;
  position: relative;
  margin: 105px auto;
  filter: drop-shadow(0px 48px 22px rgba(15, 15, 15, 0.549));
}

.mac-book:hover > .scroll-down .project-img-down {
  object-position: bottom;
}

.mac-book .laptop {
  width: 361px;
  display: block;
  margin: 0 auto;
  filter: brightness(0.5);
}

.project-background {
  position: absolute;
  top: 0;
  width: 440px;
  left: 0;
  right: 0;
  z-index: -2;
  margin: 0 auto;
}

.projects-down .p-01 {
  position: absolute;
  right: 10rem;
  top: 0;
  z-index: -1;
  animation: rotate 6s infinite linear;
}

.projects-down .p-02 {
  left: 3rem;
  top: 22rem;
  position: absolute;
}

.projects-down .p-03 {
  position: absolute;
  right: 8rem;
  top: 10rem;
  animation: up-to-right alternate-reverse infinite 1s;
}

@keyframes up-to-right {
  0% {
    transform: translateX(-5px) translateY(5px);
  }

  100% {
    transform: translateX(5px) translateY(-5px);
  }
}

.projects .project-seeMore {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #353535;
}

.projects .project-seeMore i {
  margin-left: 6px;
  rotate: 45deg;
  transition: all 0.3s ease;
}

.projects .project-seeMore:hover i {
  transform: translateY(-5px);
}

.projects .project-seeMore::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #353535;
  height: 0.5px;
  width: 0%;
  transition: all 0.2s ease;
  border-radius: 8px;
}

.project-information:hover > .projects .project-seeMore::before {
  width: 50px;
}
/* Projects section - home page end */
