@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font01: "Poppins", sans-serif;
  --font02: "PT Sans", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: var(--font01);
  background: #fff;
  color: #353535;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #353535;
}

button,
select {
  outline: none;
  appearance: none;
}

button,
.btn,
select {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--font01);
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
span,
i {
  display: inline-block;
}

/* Header section */
header {
  height: 60px;
}

header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
}

/* Menu btn */
#check {
  background-color: #000000;
  width: 20px;
  height: 20px;
  display: none;
}

.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-btn span {
  position: relative;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.menu-btn span::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #000000;
}

.menu-btn span::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #000000;
  transition: 0.5s;
}

.menu-btn:hover span::after,
.meu-btn:hover span::before {
  width: 100%;
}

.logo {
  height: 23px;
}

.logo img {
  height: 100%;
}

.menu-bar {
  display: flex;
}

.menu-bar li a {
  position: relative;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #353535;
}

.menu-bar li a::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: auto;
  right: 0;
  bottom: 3px;
  background: #353535;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}

.menu-bar li a:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}

.menu-bar .active-menu a::before {
  width: 100%;
}
/* Header section end */

/* Hero section */
.hero-section {
  position: relative;
  padding-top: 100px;
}

.hero-section .hero-content {
  display: flex;
  width: 100%;
}

.hero-left,
.hero-right {
  width: 50%;
}

.title-one {
  display: flex;
  align-items: center;
}

.title-one h4 {
  font-weight: 400;
  font-size: 24px;
  color: #353535;
}

.wave-hand {
  padding-left: 10px;
  animation: wave alternate-reverse 0.8s infinite;
  display: flex;
}

@keyframes wave {
  0% {
    transform: rotate(-55deg);
  }

  100% {
    transform: rotate(-35deg);
  }
}

.title-two h1 {
  font-weight: 700;
  font-size: 64px;
  color: #353535;
  padding-top: 13px;
  padding-bottom: 25px;
  font-family: var(--font02);
  line-height: 75px;
}

.my-description p {
  font-weight: 400;
  font-size: 20px;
  color: #353535;
  padding-bottom: 45px;
  line-height: 180%;
}

.social-links {
  display: flex;
  align-items: center;
  padding-top: 45px;
}

.social-link a {
  background: #f4f3f3;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: 0.3s;
}

.social-link {
  display: flex;
  gap: 20px;
}

.social-links h4 {
  font-weight: 500;
  font-size: 20px;
  color: #353535;
  padding-right: 30px;
}

.header-btns a,
.btn-two a,
.section-contents .btn-two a {
  display: flex;
  align-items: center;
  width: 190px;
  padding: 20px 0px;
  justify-content: center;
  border-radius: 20px;
}

.header-btns a h4 {
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.header-btns {
  display: flex;
  gap: 40px;
}

.btn-icon {
  display: flex;
}

.btn-one a {
  background: #ffcc00;
  border: 1px solid #ffcc00;
  transition: 0.2s;
}

.btn-two a {
  border: 1px solid #000000;
  transition: 0.2s;
}

.btn-one h4 {
  color: #ffffff;
}

.btn-two h4 {
  color: #353535;
}

.btn-one a:hover {
  border: 1px solid #353535;
  background: #353535;
}

.btn-one a:hover h4 {
  color: #ffffff;
}

.btn-one a:hover .btn-icon svg path {
  stroke: #ffffff;
}

.btn-one a:hover .btn-icon {
  animation: up-right alternate-reverse infinite 1s;
}

@keyframes up-right {
  0% {
    transform: translateX(-5px) translateY(5px);
  }

  100% {
    transform: translateX(5px) translateY(-5px);
  }
}

.social-link a:hover i {
  color: #ffffff;
}

.social-link a i {
  color: #000000;
  transition: 0.3s;
}

.social-link a:hover {
  background: #484848;
}

.hero-left {
  padding: 82px 0px;
}

.hero-img,
.hero-right {
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  object-fit: cover;
}

.hero-right {
  position: relative;
}

.social-links-two {
  display: none;
}

.social-links-one {
  display: flex;
}

.go-down {
  border: 3px solid #686868;
  position: absolute;
  width: 25px;
  height: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%);
  bottom: 25px;
}

.moving-line {
  width: 3px;
  height: 10px;
  background: #686868;
  border-radius: 60px;
  top: 15%;
  position: absolute;
  animation: up-down infinite 0.8s alternate-reverse;
}

@keyframes up-down {
  0% {
    transform: rotateY(10px);
    height: 10px;
  }

  100% {
    transform: translateY(0px);
    height: 5px;
  }
}
