/* Resize responsive */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .resize {
    max-width: 70rem;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .resize {
    max-width: 65rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1081px) {
  .resize {
    max-width: 55rem;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .resize {
    max-width: 46rem;
  }
}
/* Resize responsive end */

/* Header section */
@media (max-width: 767px) {
  header {
    height: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  #check {
    background-color: #000000;
    width: 20px;
    height: 20px;
    display: none;
  }

  .menu-btn {
    display: flex;
    z-index: 99999;
  }

  .menu-bar {
    display: block;
    padding-top: 60px;
    background-color: #ffffff;
    width: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 3px 3px 300px 5px rgb(0 0 0 / 42%);
    z-index: 9999;
    transition: 0.3s;
  }

  .menu-bar li a {
    display: block;
    padding: 10px 25px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;

    color: #353535;
  }

  .menu-bar li a:hover {
    background-color: #7a7a7a27;
  }

  .menu-bar li a::before {
    display: none;
  }

  .menu-bar .active-menu a {
    background-color: #7a7a7a27;
  }

  #check:checked ~ .menu-bar {
    width: 80%;
  }

  /* active menu  */
  #check ~ .menu-btn {
    position: relative;
    right: 0px;
    transition: 0.3s;
  }

  #check:checked ~ .menu-btn {
    right: 10px;
  }

  #check:checked ~ .menu-btn span::after {
    display: none;
  }

  #check:checked ~ .menu-btn span::before {
    width: 100%;
    transform: translateY(5px) rotate(-270deg);
    transition: 0.3s;
  }

  #check:checked ~ .menu-btn span {
    transform: rotate(135deg);
    transition: 0.3s;
  }
}
/* Header section end */

/* Banner section */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .container {
    max-width: 70rem;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .container {
    max-width: 65rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1081px) {
  .container {
    max-width: 55rem;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .container {
    max-width: 46rem;
  }

  .about-timeline,
  .skill-area {
    padding: 30px 20px;
    margin: 30px 0;
  }
}
/* Banner section end */

/* Hero section - home page */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .hero-section {
    padding-top: 28px;
  }

  .hero-left {
    padding: 25px 0px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .hero-section {
    padding-top: 25px;
  }

  .title-two h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 1081px) {
  .hero-section .hero-content {
    display: block;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-img,
  .hero-right {
    position: relative;
    justify-content: center;
  }

  .hero-section {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .social-links-two {
    display: flex;
  }

  .social-links-one {
    display: none;
  }

  .go-down {
    display: none;
  }
}
/* Hero section - home page end */

/* About me section - home page */
@media only screen and (max-width: 1085px) {
  .about-me-left {
    transform: rotateY(180deg);
  }

  .about-me-content {
    display: flex;
    flex-flow: column-reverse;
  }

  .about-me-area {
    padding-top: 100px;
  }

  .animation {
    z-index: -1;
  }

  .about-me-left,
  .about-me-right {
    width: 100%;
  }

  .bubble {
    left: 30px;
    right: auto;
  }

  .about-image img {
    width: 50%;
  }

  .about-animation01 {
    top: 20%;
    left: 2%;
  }
}

@media only screen and (max-width: 667px) {
  .about-image img {
    width: 100%;
  }

  .bubble {
    display: none;
  }

  .about-animation02 {
    bottom: 30%;
    left: 5%;
  }

  .about-animation03 {
    display: none;
  }

  .about-me-right .my-description p {
    padding-bottom: 35px;
    padding-top: 25px;
    font-size: 15px;
    line-height: 165%;
  }
}
/* About me section - home page end */
