/* About page */
@media only screen and (min-width: 320px) and (max-width: 781px) {
  .about-timeline,
  .skill-area {
    padding: 40px 0;
    margin: 40px 0;
  }
}
/* About page end */

/* Banner section */
@media (max-width: 767px) {
  .banner {
    margin: 0px;
  }

  .banner .container {
    padding: 0;
  }

  .banner .container .banner-content-inner {
    border-radius: 0;
  }

  .banner .title-head {
    font-size: 28px;
    line-height: 36px;
  }

  .banner .header-description {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .banner .header-description::before,
  .banner .header-description::after {
    display: none;
  }
}
/* Banner end */

/* Home page - about me section */
@media only screen and (max-width: 499px) {
  .section-title h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 567px) {
  .section-contents .btn-two a {
    width: 120px;
    padding: 12px 0px;
    border-radius: 10px;
  }

  .section-contents .btn-two a h4 {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }

  .skills-area .my_description {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .about-me-right .btn-two a h4 {
    font-size: 14px !important;
  }
}
/* Home page about me section end */

/* About page - timeline section */
@media only screen and (min-width: 320px) and (max-width: 620px) {
  .about-timeline .timeline-item-wrapper .timeline-item {
    margin-bottom: 30rem;
    height: 150px;
  }
}

@media only screen and (min-width: 50px) and (max-width: 320px) {
  .about-timeline .timeline-item-wrapper .timeline-item {
    margin-bottom: 30rem;
    height: 150px;
  }
}
/* About page - timeline section end */

/* Home page - Hero section */
@media only screen and (max-width: 566px) {
  .social-links {
    display: flex;
    align-items: center;
    padding-top: 60px;
    gap: 10px;
  }

  .title-two h1 {
    font-size: 40px;
    line-height: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .title-one h4 {
    font-size: 18px;
  }

  .my-description p {
    font-size: 16px;
    padding-bottom: 30px;
    line-height: 190%;
  }

  .social-links-one {
    display: none;
  }

  .social-link a {
    width: 35px;
    height: 35px;
  }

  .social-link a i {
    font-size: 14px;
  }

  .social-links h4 {
    font-size: 15px;
    padding-right: 10px;
  }

  .social-link {
    gap: 10px;
  }

  .header-btns a,
  .btn-two a,
  .section-contents .btn-two a {
    width: 100px;
    padding: 8px 0px;
    border-radius: 10px;
  }

  .btn-icon img {
    width: 13px;
  }

  .header-btns a h4 {
    font-weight: 600;
    font-size: 10px;
    padding-right: 8px;
  }

  .header-btns {
    gap: 20px;
  }
}
/* Home page - Hero section end */
