/* Resize responsive */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .resize {
    max-width: 70rem;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .resize {
    max-width: 65rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1081px) {
  .resize {
    max-width: 55rem;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .resize {
    max-width: 46rem;
  }
}
/* Resize responsive end */

/* Header section */
@media (max-width: 767px) {
  header {
    height: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  #check {
    background-color: #000000;
    width: 20px;
    height: 20px;
    display: none;
  }

  .menu-btn {
    display: flex;
    z-index: 99999;
  }

  .menu-bar {
    display: block;
    padding-top: 60px;
    background-color: #ffffff;
    width: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 3px 3px 300px 5px rgb(0 0 0 / 42%);
    z-index: 9999;
    transition: 0.3s;
  }

  .menu-bar li a {
    display: block;
    padding: 10px 25px;
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;

    color: #353535;
  }

  .menu-bar li a:hover {
    background-color: #7a7a7a27;
  }

  .menu-bar li a::before {
    display: none;
  }

  .menu-bar .active-menu a {
    background-color: #7a7a7a27;
  }

  #check:checked ~ .menu-bar {
    width: 80%;
  }

  /* active menu  */
  #check ~ .menu-btn {
    position: relative;
    right: 0px;
    transition: 0.3s;
  }

  #check:checked ~ .menu-btn {
    right: 10px;
  }

  #check:checked ~ .menu-btn span::after {
    display: none;
  }

  #check:checked ~ .menu-btn span::before {
    width: 100%;
    transform: translateY(5px) rotate(-270deg);
    transition: 0.3s;
  }

  #check:checked ~ .menu-btn span {
    transform: rotate(135deg);
    transition: 0.3s;
  }
}
/* Header section end */

/* Banner section */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .container {
    max-width: 70rem;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .container {
    max-width: 65rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1081px) {
  .container {
    max-width: 55rem;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .container {
    max-width: 46rem;
  }

  .about-timeline,
  .skill-area {
    padding: 30px 20px;
    margin: 30px 0;
  }
}
/* Banner section end */

/* Hero section - home page */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .hero-section {
    padding-top: 28px;
  }

  .hero-left {
    padding: 25px 0px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .hero-section {
    padding-top: 25px;
  }

  .title-two h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

@media only screen and (max-width: 1081px) {
  .hero-section .hero-content {
    display: block;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-img,
  .hero-right {
    position: relative;
    justify-content: center;
  }

  .hero-section {
    padding-top: 20px;
    padding-bottom: 100px;
  }

  .social-links-two {
    display: flex;
  }

  .social-links-one {
    display: none;
  }

  .go-down {
    display: none;
  }
}
/* Hero section - home page end */

/* About me section - home page */
@media only screen and (max-width: 1085px) {
  .about-me-left {
    transform: rotateY(180deg);
  }

  .about-me-content {
    display: flex;
    flex-flow: column-reverse;
  }

  .about-me-area {
    padding-top: 100px;
  }

  .animation {
    z-index: -1;
  }

  .about-me-left,
  .about-me-right {
    width: 100%;
  }

  .bubble {
    left: 30px;
    right: auto;
  }

  .about-image img {
    width: 50%;
  }

  .about-animation01 {
    top: 20%;
    left: 2%;
  }
}

@media only screen and (max-width: 667px) {
  .about-image img {
    width: 100%;
  }

  .bubble {
    display: none;
  }

  .about-animation02 {
    bottom: 30%;
    left: 5%;
  }

  .about-animation03 {
    display: none;
  }

  .about-me-right .my-description p {
    padding-bottom: 35px;
    padding-top: 25px;
    font-size: 15px;
    line-height: 165%;
  }
}
/* About me section - home page end */

/* Skill and education section - home page */
@media only screen and (max-width: 1082px) {
  .skills-content {
    display: grid;
  }

  .skills-right,
  .skills-left {
    width: 100%;
  }
}
/* Skill and education section - home page end */

/* About page - my information section */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .about-me-bio .bio-right .my-info-box .my-info-item .info-description {
    margin-left: 0;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .about-me-bio .bio-right .my-info-box .my-info-item .info-description {
    margin-left: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1081px) {
  .about-me-bio .bio-right .my-info-box .my-info-item .info-description {
    margin-left: 0;
  }

  .about-timeline .timeline-item-wrapper .timeline-item {
    height: 350px;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .about-timeline .timeline-item-wrapper .timeline-item {
    height: 446px;
  }
}

@media only screen and (min-width: 621px) and (max-width: 781px) {
  .about-timeline .timeline-item-wrapper .timeline-item {
    margin-bottom: 10rem;
    height: 80px;
  }
}

@media (max-width: 991px) {
  .about-me-bio .bio-left {
    width: 45%;
  }

  .about-me-bio .bio-right {
    width: 65%;
  }

  .about-me-bio .bio-right .my-info-box .my-info-item {
    margin-bottom: 17px;
  }

  .about-me-bio .bio-right .bio-description {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 40px;
  }

  .about-me-bio .bio-right .my-info-box .my-info-item .info-description {
    margin-left: 0;
  }

  .about-me-bio .bio-right .my-info-box .my-info-item .info-title,
  .about-me-bio .bio-right .my-info-box .my-info-item .info-description {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .about-me-bio .bio-right .my-info {
    gap: 30px;
  }
}

@media (min-width: 767px) {
  .about-me-bio .bio-right .bio-description {
    display: initial;
  }

  .about-me-bio .bio-description-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  .about-me-bio .about-bio-content-wrapper {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 53px;
  }

  .about-me-bio .bio-left {
    width: 100%;
    margin: 30px 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .about-me-bio .bio-left img {
    width: auto;
    max-width: 100%;
  }

  .about-me-bio .bio-right {
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-me-bio .bio-right .my-info {
    justify-content: center;
  }

  .about-me-bio .bio-right .bio-description {
    display: none;
  }

  .about-me-bio .bio-description-mobile {
    padding: 0px 18px;
    line-height: 2;
    font-size: 15px;
  }

  .about-me-bio .bio-right .my-info {
    gap: 15px;
  }

  .about-me-bio .bio-right .my-info-box .my-info-item .info-title,
  .about-me-bio .bio-right .my-info-box .my-info-item .info-description {
    font-size: 12px;
  }

  .about-me-bio .bio-right .download-btn {
    margin-top: 15px;
    padding: 5px 12px;
  }

  .about-me-bio .bio-right .my-info-box .my-info-item {
    margin-bottom: 10px;
  }
}
/* About page my information section end */

/* About page - timeline section */
@media (max-width: 767px) {
  .about-timeline .timeline-item-container .timeline-item-wrapper {
    padding: 0;
  }

  .about-timeline .timeline-left {
    text-align: end;
  }

  .timeline-left .timeline-item-wrapper::before {
    display: none;
  }

  .about-timeline .timeline-content-wrapper {
    position: relative;
  }

  .about-timeline .timeline-item-wrapper {
    position: static;
  }

  .about-timeline .timeline-right .timeline-item-wrapper::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .about-timeline .timeline-item-container .timeline-heading {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 1px;
  }

  .about-timeline .timeline-item-wrapper .timeline-item .timeline-item-title {
    font-size: 15px;
    line-height: 1.4;
  }

  .about-timeline .timeline-item-wrapper .timeline-item .timeline-date {
    display: none;
  }

  .about-timeline
    .timeline-item-wrapper
    .timeline-item
    .timeline-item-description {
    font-size: 14px;
    line-height: 2;
  }

  .about-timeline .timeline-item-wrapper .timeline-item {
    padding: 10px 0;
  }

  .about-timeline .timeline-left .timeline-item .timeline-dot-wrap {
    display: none;
  }

  .about-timeline .timeline-item-wrapper .timeline-item .timeline-dot-wrap {
    left: -25px;
  }

  .about-timeline .timeline-item-wrapper::before {
    top: 65px;
  }

  .about-timeline {
    padding: 40px 0;
  }
}
/* About page - timeline section end */

/* About page - Skill progress section */
@media only screen and (min-width: 781px) and (max-width: 992px) {
  .skill-area .progress-item {
    min-width: 345px;
  }
}

@media (max-width: 767px) {
  .skill-area {
    padding-bottom: 30px;
  }

  .skill-area .progress-item {
    min-width: 280px;
  }

  .skill-area .section-heading {
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 15px;
  }

  .skill-area .progress-item .progress-description .progress-title {
    font-size: 15px;
  }

  .skill-area .progress-item .progress-description .progress-value,
  .progress-value {
    font-size: 15px !important;
  }
}
/* About page - Skill progress section end */

/* Home page static content section */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .static-card {
    grid-gap: 40px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1201px) {
  .static-card {
    grid-gap: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1081px) {
  .static-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-body:last-child {
    grid-column: 1 / span 2;
    display: grid;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .static-card {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-body:last-child {
    grid-column: 1 / span 2;
    display: grid;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
  }
}

@media only screen and (min-width: 621px) and (max-width: 781px) {
  .static .resize {
    max-width: 30rem;
  }
}
/* Home page static content section end */

/* Home page work experience section */
@media only screen and (min-width: 766px) {
  .timelines {
    left: -55px;
  }
}

@media only screen and (max-width: 566px) {
  .experience-left .experience-left-box {
    text-align: right;
  }

  .experience-title h3 {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
    width: auto;
  }

  .experience-date h5 {
    font-size: 12px;
  }

  .experience-description p {
    font-size: 12px;
  }

  .main-title h2 {
    font-size: 24px;
    line-height: 50px;
    padding-bottom: 25px;
  }
}
/* Home page work experience section end*/
@media only screen and (min-width: 992px) and (max-width: 1080px) {
  .service-card {
    gap: 15px;
    padding: 0px 40px;
  }
}

@media only screen and (min-width: 781px) and (max-width: 992px) {
  .service-card {
    gap: 25px;
    padding: 0px 50px;
    grid-template-columns: repeat(2, 1fr);
  }

  .serviceCard-body:nth-child(2) {
    padding: 60px 30px !important;
    margin-top: 0px;
  }

  .titles {
    width: 50%;
  }

  .serviceCard-body:last-child {
    grid-column: 1 / span 2;
    display: grid;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
    justify-items: center;
  }
}
