/* About page */
@media only screen and (min-width: 320px) and (max-width: 781px) {
  .about-timeline,
  .skill-area {
    padding: 40px 0;
    margin: 40px 0;
  }
}
/* About page end */

/* Banner section */
@media (max-width: 767px) {
  .banner {
    margin: 0px;
  }

  .banner .container {
    padding: 0;
  }

  .banner .container .banner-content-inner {
    border-radius: 0;
  }

  .banner .title-head {
    font-size: 28px;
    line-height: 36px;
  }

  .banner .header-description {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .banner .header-description::before,
  .banner .header-description::after {
    display: none;
  }
}
/* Banner end */

/* Home page - about me section */
@media only screen and (max-width: 499px) {
  .section-title h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 567px) {
  .section-contents .btn-two a {
    width: 120px;
    padding: 12px 0px;
    border-radius: 10px;
  }

  .section-contents .btn-two a h4 {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
  }

  .skills-area .my_description {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .about-me-right .btn-two a h4 {
    font-size: 14px !important;
  }
}
/* Home page about me section end */

/* About page - timeline section */
@media only screen and (min-width: 320px) and (max-width: 620px) {
  .about-timeline .timeline-item-wrapper .timeline-item {
    margin-bottom: 30rem;
    height: 150px;
  }
}

@media only screen and (min-width: 50px) and (max-width: 320px) {
  .about-timeline .timeline-item-wrapper .timeline-item {
    margin-bottom: 30rem;
    height: 150px;
  }
}
/* About page - timeline section end */
