@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font01: "Poppins", sans-serif;
  --font02: "PT Sans", sans-serif;
}

/* Projects section - home page */
.projects-sec {
  width: 100%;
  padding: 65px 0;
  background: #fbfbfb;
  overflow: hidden;
}

.projects-heading {
  padding: 0px 0px 30px 0px;
  text-align: center;
}

.projects-heading h2 {
  font-size: 50px;
  font-family: var(--font02);
}

.projects-heading p {
  font-weight: 400;
  font-size: 18px;
  padding: 15px 0;
  width: 60%;
  line-height: 30px;
  color: #7a7a7a;
}

.projects-content {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.project-information {
  width: 100%;
}

.project-information .project-comment p {
  padding: 30px 0;
  font-size: 20px;
  font-weight: 400;
  color: #7a7a7a;
  line-height: 40px;
}

.project-information .projects {
  display: flex;
}

/* Slideshow */
.project {
  position: relative;
  display: block;
  z-index: 10;
  width: 100%;
}

.scroll-down {
  position: absolute;
  display: block;
  top: 3px;
  left: 0;
  width: 57%;
  right: 0;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.scroll-down .project-img-down {
  width: 315px;
  object-fit: cover;
  border-radius: 8px;
  object-position: top;
  height: 210px;
  overflow: hidden;
  transition: 5s all ease;
}

.mac-book {
  display: block;
  width: 82%;
  overflow: hidden;
  position: relative;
  margin: 105px auto;
  filter: drop-shadow(0px 48px 22px rgba(15, 15, 15, 0.549));
}

.mac-book:hover > .scroll-down .project-img-down {
  object-position: bottom;
}

.mac-book .laptop {
  width: 361px;
  display: block;
  margin: 0 auto;
  filter: brightness(0.5);
}

.project-background {
  position: absolute;
  top: 0;
  width: 440px;
  left: 0;
  right: 0;
  z-index: -2;
  margin: 0 auto;
}

.projects-down .p-01 {
  position: absolute;
  right: 10rem;
  top: 0;
  z-index: -1;
  animation: rotate 6s infinite linear;
}

.projects-down .p-02 {
  left: 3rem;
  top: 22rem;
  position: absolute;
}

.projects-down .p-03 {
  position: absolute;
  right: 8rem;
  top: 10rem;
  animation: up-to-right alternate-reverse infinite 1s;
}

@keyframes up-to-right {
  0% {
    transform: translateX(-5px) translateY(5px);
  }

  100% {
    transform: translateX(5px) translateY(-5px);
  }
}

.projects .project-seeMore {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: #353535;
}

.projects .project-seeMore i {
  margin-left: 6px;
  rotate: 45deg;
  transition: all 0.3s ease;
}

.projects .project-seeMore:hover i {
  transform: translateY(-5px);
}

.projects .project-seeMore::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #353535;
  height: 0.5px;
  width: 0%;
  transition: all 0.2s ease;
  border-radius: 8px;
}

.project-information:hover > .projects .project-seeMore::before {
  width: 50px;
}
/* Projects section - home page end */

/* Projects list section */
.project-list-area {
  padding: 70px 0px 90px 0px;
}

.project-list-area .resize {
  padding: 0px 12px;
}

.project-01 {
  gap: 68px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transition: all 0.3s ease;
}

.project-01 .project-card {
  position: relative;
  display: flex;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgb(0 0 0 / 8%);
  padding: 15px;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
  flex-direction: column;
}

.project-card-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.project-card-img img {
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.project-card:hover > .project-card-img img {
  transform: scale(1.1);
}

.project-detail {
  margin-top: 20px;
}

.project-detail h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #353535;
}

.project-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0px;
}

.project-btn .project-seeMore {
  margin-top: 0px !important;
  background: #ffcc00 !important;
  font-size: 15px !important;
  margin-top: 0px !important;
  padding: 12px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  transition: all 0.3s ease;
}

.project-btn .project-seeMore:hover {
  background: #353535 !important;
  color: #fff !important;
}
